input[type=text] {
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #cccccc;
  border-radius: 4px;
}

input[type=text]:focus {
    background-color: #bef3f0;
  }



input[type=Submit] {
  width: 100px;
  height: 30px;
  color: white;
  background-color: #4aaaa5;
}

textarea {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 10px 0px 10px 0px;
}

.left {
  text-align:left;
}