input[type=text] {
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #cccccc;
  border-radius: 4px;
}

input[type=text]:focus {
    background-color: #bef3f0;
  }

.message {
    height: 200px;
}