body {
    background-color: grey;
    background-image: url("../images/seigaiha.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: white;
    left: 0;
    border-bottom: solid #cccccc 1px;
}

#name {
    background-color:#4aaaa5;
    position: absolute;
    left: 20%;
    bottom:0px;
    width: 20%;
    height: 75px;
    vertical-align: middle;
    line-height: 75px; 
    margin: 0 auto;
    text-align: center;
    color: white;
}

.about {
    background-color:white;
    width: 60%;
    left: 20%;
    margin: 0 auto;
    position: fixed;
    top: 200px;
    padding: 20px 20px 20px 20px;
    border: solid #dddddd 1px ;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

footer {
    background-color: #666666;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 75px;
    border-top: 8px solid #4aaaa5;
    left: 0;
}

.bottom {
    position: absolute;
    padding: 3px 3px 3px 3px;
    bottom: 0px;
    width: 10%;
    left: 45%;
    margin: 0 auto;
    color: white;
    font-size: 10px;
}

.image {
    float: left;
    margin: 10px 10px 10px 10px
}

#nav3 {
    width: 5%;
    position: absolute;
    right: 10%;
    bottom: 0px;
    height: 75px;
    vertical-align: middle;
    line-height: 75px; 
    margin: 0 auto;
    text-align: center;

}

#nav2 {
    width: 5%;
    position: absolute;
    right: 15%;
    bottom: 0px;
    height: 75px;
    vertical-align: middle;
    line-height: 75px; 
    margin: 0 auto;
    text-align: center;

}
#nav1 {
    width: 5%;
    position: absolute;
    right: 20%;
    bottom: 0px;
    height: 75px;
    vertical-align: middle;
    line-height: 75px; 
    margin: 0 auto;
    text-align: center;

}

a, a:hover {
    text-decoration: none;
    color: #dddddd;
}